@charset "UTF-8";

/**/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
$header_color: #2D9CDB;
$footer_color: rgba(86,
204,
242,
0.5);
$font_header: 'Roboto',
sans-serif;
$font_main: 'Open Sans',
sans-serif;
$font_color_footer: #000000;
$logo_asap: url(../img/asapblue.png);
$news_logo: url(../../img/logoblack.png);
html {
    font-size: 16px;
}

body {
    font-family: $font_header;
    background: #e5e5e5 !important;
}

.wrapper {
    overflow: hidden;
    margin-top: 64px;
}

.container {
    max-width: 1260px !important;
    margin: 0 auto;
}

a:hover {
    text-decoration: none;
    color: initial;
}

ul {
    list-style-type: none;
}

ul,
li,
a {
    margin: 0;
    padding: 0;
}

p {
    color: #404040;
}

* {
    outline: none !important;
}

p,
h1,
h2 {
    margin: 0;
}

textarea {
    resize: none;
}

.line_button {
    border: 1px solid white;
    padding: 5px 20px;
}

//---------------------------------------------------------------------------------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------------------
//header
//header__top
.header__container-top {
    max-width: 1440px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    color: $font_color_footer;
}

.header__logo,
.header__logo__mobile {
    display: block;
    width: 160px;
    height: 94px;
    margin-right: 20px;
    background: $news_logo center center no-repeat;
    background-size: contain;
}

.header__logo__mobile {
    height: 60px;
}

.header__advertising {
    width: 950px;
    display: block;
    img {
        width: 100%;
    }
}

.header__text__date {
    display: block;
    font-size: 1rem;
    font-family: $font_main;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: $font_color_footer;
}

.header__weather {
    font-weight: bold;
    font-size: 1.125rem;
    display: inline;
    text-align: center;
}

.header__city {
    padding: 0;
    text-align: left;
    font-family: $font_header;
    color: $font_color_footer;
    font-size: 1rem;
}

#date .dateMonth {
    font-size: 1.2rem;
    font-weight: normal;
}

//header__bottom
.header__bottom {
    background: $header_color;
    left: 0;
    position: fixed;
    z-index: 10000;
    width: 100%;
}

.header__container__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header__navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item {
    margin-right: 22px;
}

.header__link {
    font-family: $font_main;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.63);
    display: block;
    &:hover {
        color: #fff;
    }
}

.header__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__menu {
    transition: 0.5s ease;
    transform: translateY(-50%);
    position: absolute;
    top: 46px;
    left: 0;
    display: block;
    visibility: hidden;
    width: 280px;
    height: 0;
    opacity: 0;
    padding: 25px 20px;
    .header__menu__feedback-icons {
        margin-top: 20px;
    }
}

.header__menu-open {
    transition: 0.5s;
    visibility: visible;
    opacity: 1;
    background: $header_color;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    transform: translateY(0%);
    height: auto;
    z-index: 1;
}

.header__menu__item {
    padding: 5px 0;
}

.header__feedback__icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__icons-item {
    width: 15px;
    height: 15px;
    display: block;
    margin: 0 17px;
}

.header__icons-item.ins {
    background: url(../img/inst.png) no-repeat center;
    background-size: contain;
}

.header__icons-item.fb {
    background: url(../img/facebook.png) no-repeat center;
    background-size: contain;
}

.header__icons-item.yt {
    background: url(../img/youtube.png) no-repeat center;
    background-size: contain;
}

.header__icons-item.vk {
    background: url(../img/vk.png) no-repeat center;
    background-size: contain;
}

.header__icons-item.ok {
    background: url(../img/ok.png) no-repeat center;
    background-size: contain;
}

.header__icons-item:hover {
    @extend .header__icons-item;
}

.header__icons-item.ins:hover {
    background: url(../img/instapink.png) no-repeat center;
    background-size: contain;
}

.header__icons-item.fb:hover {
    background: url(../img/facebookpink.png) no-repeat center;
    background-size: contain;
}

.header__icons-item.yt:hover {
    background: url(../img/youtubepink.png) no-repeat center;
    background-size: contain;
}

.header__icons-item.vk:hover {
    background: url(../img/vkpink.png) no-repeat center;
    background-size: contain;
}

.header__icons-item.ok:hover {
    background: url(../img/okpink.png) no-repeat center;
    background-size: contain;
}

.header__icons__right {
    display: flex;
    .header__menu__sign-in {
        margin: auto;
        margin-right: 10px;
    }
    .header__icons-search {
        background: url(../img/search.png) center center no-repeat;
        width: 24px;
        height: 24px;
        padding: 30px;
        &:hover {
            background: white url(../img/searchblue.png) center center no-repeat;
            width: 24px;
            height: 24px;
            display: block;
            padding: 30px;
        }
    }
}

.burger {
    margin: auto;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    width: 25px;
    height: 20px;
    transition: 0.4s;
    position: relative;
}

.burger:hover .burger-top,
.burger:hover .burger-bottom {
    width: 60%;
    left: 5px;
}

.burger.active:hover .burger-top,
.burger.active:hover .burger-bottom {
    width: 100%;
    left: 0;
}

.burger.active {
    overflow: hidden;
    width: 25px;
    transition: all 0.3s ease;
}

.burger-global {
    backface-visibility: hidden;
    position: absolute;
    border-top: 4px solid #fff;
    width: 100%;
    transition: 0.3s ease-out;
}

.burger-top {
    top: 0px;
    left: 0;
}

.burger-middle {
    top: 8px;
    left: 0;
}

.burger-bottom {
    top: 16px;
    left: 0;
}

.burger.active .burger-global {
    border-top: 2px solid #fff;
}

.burger.active .burger-top {
    transform: rotate(-225deg);
    top: 8px;
}

.burger.active .burger-middle {
    opacity: 0;
}

.burger.active .burger-bottom {
    transform: rotate(225deg);
    top: 8px;
}

//---------------------------------------------------------------------------------------------------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------------------
.latest-news {
    padding: 22px 0;
    background: #fff;
}

.date-mini,
.time-mini {
    font-family: $font_main;
    font-size: 0.75rem;
    line-height: 1.25;
    color: #8C8C8C;
    padding-right: 5px;
}

.date,
.time {
    font-size: 0.875rem;
    line-height: 1.25;
    color: #fff;
    padding-right: 5px;
    font-weight: bold;
}

.black-title {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #000000;
    padding-top: 10px;
}

.text {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #000000;
}

.main {
    margin-top: 30px;
}

.main-news {
    padding: 57px 0 39px 0;
}

.main-news__content {
    flex-direction: row-reverse;
}

.main-news__item {
    background: linear-gradient(0.29deg, #000000 0.56%, rgba(255, 255, 255, 0) 97.32%), url(../img/newsbig.png) center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 400px;
    padding: 0 21px 27px 21px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.subtitle {
    font-family: $font_main;
    font-weight: bold;
    font-size: 1.375rem;
    line-height: 1.5;
    color: #FFFFFF;
    padding-bottom: 3px;
    transition: 0.3s ease;
}

.subtitle:hover {
    color: #fff;
}

.main-news__item-text {
    color: #fff;
    line-height: 1.5;
    padding: 18px 0 28px 0;
    font-size: 1rem;
    font-weight: normal;
}

.main-news__item-date,
.main-news__item-time {
    color: #fff;
}

.main-news__item__icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fb {
    background: url(../img/facebook.png) no-repeat center;
}

.vk {
    background: url(../img/vk.png) no-repeat center;
}

.ok {
    background: url(../img/ok.png) no-repeat center;
}

.main-news__icons {
    width: 16px;
    height: 16px;
    display: block;
    margin: 0 7px;
    transition: 0.2s ease;
    background-size: contain;
}

.more {
    background: url(../img/more.png) no-repeat center;
    transition: 0.2s ease;
    background-size: contain;
}

.fb:hover,
.vk:hover,
.ok:hover {
    width: 16px;
    height: 16px;
    display: block;
    margin: 0 7px;
}

.more:hover {
    background: url(../img/morehover.png);
    transform: rotate(90deg);
}

.fb:hover {
    background: url(../img/facebookblue.png) no-repeat center;
    background-size: contain;
}

.vk:hover {
    background: url(../img/vkblue.png) no-repeat center;
    background-size: contain;
}

.ok:hover {
    background: url(../img/okblue.png) no-repeat center;
    background-size: contain;
}

.main-news__item__imagenot {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.row {
    justify-content: flex-end;
}

.main-news__imagenot__block {
    padding: 34px 34px 0 19px;
    background: #fff;
}

.main-news__imagenot-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 15px;
    padding-bottom: 18px;
}

.main-news__imagenot__block .main-news__imagenot-info {
    padding-bottom: 26px;
}

.main-news__imagenot-info-top {
    border-bottom: 1px solid #C9C9C9;
}

.main-news__imagenot__block .time {
    color: #000;
    font-weight: normal;
}

.main-news__imagenot__block .fb {
    background: url(../img/facebookgrey.png) no-repeat center;
    position: relative;
}

.main-news__imagenot__block .vk {
    background: url(../img/vkgrey.png) no-repeat center;
}

.main-news__imagenot__block .ok {
    background: url(../img/okgrey.png) no-repeat center;
}

.main-news__imagenot__block .more {
    background: url(../img/moregrey.png) no-repeat center;
    transition: 0.2s ease;
    background-size: contain;
}

.main-news__imagenot__block .main-news__icons {
    width: 16px;
    height: 16px;
    display: block;
    margin: 0 7px;
    transition: 0.2s ease;
    background-size: contain;
}

.main-news__imagenot__block .fb:hover {
    background: url(../img/facebookblue.png) no-repeat center;
    background-size: contain;
}

.main-news__imagenot__block .vk:hover {
    background: url(../img/vkblue.png) no-repeat center;
    background-size: contain;
}

.main-news__imagenot__block .ok:hover {
    background: url(../img/okblue.png) no-repeat center;
    background-size: contain;
}

.main-news__imagenot__block .more:hover {
    background: url(../img/morehover.png);
    transform: rotate(90deg);
}

.mini-news__item {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 100%), url(../img/newssm.png) no-repeat;
    width: 100%;
    height: 400px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    margin-bottom: 20px;
}

.mini-news__item__content {
    margin-bottom: 50px;
}

.main-news-block {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.mini-news__item-title {
    font-size: 1.125rem;
    display: block;
}

.main-news__advertising {
    background: url(../img/advertisingmiddle.png);
    width: 100%;
    height: 826px;
    display: block;
}

.main-news__advertising-2 {
    background: url(../img/advertisingbottom.png);
    width: 100%;
    height: 108px;
    display: block;
}

.sport-news {
    padding-bottom: 63px;
}

.sport-news__paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sport-news__link {
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    margin-bottom: 27px;
}

.sport-news__link:hover .sport-news__link-text {
    color: #000;
    padding-right: 24px;
}

.sport-news__link:hover .link-pic {
    background: url(../img/arrowhover.png) no-repeat;
    width: 34px;
    height: 10px;
}

.sport-news__link-text {
    font-size: 1.125rem;
    line-height: 1.4;
    padding-right: 15px;
    transition: 0.3s ease;
}

.link-pic {
    background: url(../img/arrow.png) no-repeat;
    width: 34px;
    height: 10px;
    transition: 0.3s ease;
}

.title-2 {
    border-top: 6px solid $header_color;
    padding-top: 12px;
    font-size: 2.25rem;
    line-height: 1.4;
    color: #000000;
    font-weight: bold;
}

.sport-news .mini-news__item,
.sport-news .main-news__item__imagenot {
    width: 100%;
}

.culture-news-advertising {
    background: url(../img/advertisingsmall.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: block;
    margin-bottom: 20px;
}

.main-feedback {
    padding-top: 40px;
    padding-bottom: 60px;
}

.main-feedback__fb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px 60px 76px;
    background: #E0E0E0;
    margin-bottom: 96px;
}

.main-feedback__fb-text {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.2;
    color: #000000;
}

.main-feedback__fb__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    max-width: 600px;
}

.main-feedback__form-button {
    flex-grow: 2;
}

.main-feedback__form-input {
    flex-grow: 3;
    width: 341px;
    height: 60px;
    padding: 15px 0 15px 28px;
    border: 1px solid #C4C4C4;
    color: #C4C4C4;
}

::placeholder {
    color: #C4C4C4;
}

.button {
    font-family: $font_main;
    width: 180px;
    height: 60px;
    display: inline-block;
    background: $header_color;
    color: #fff;
    font-weight: bold;
    border: 0;
    transition: 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background: $footer_color;
    border: 1px solid $footer_color;
}

.main-navigate_last_news {
    border-top: 6px solid $header_color;
    height: 100%;
    min-height: 400px;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-weight: bold;
        text-transform: uppercase;
    }
    li:hover {
        color: $header_color;
    }
}

.header__menu__line {
    border-top: 1px solid #F2F2F2;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.page-main__scroll-news {
    width: 38%;
    overflow-x: auto;
    direction: rtl;
    background: #FFFFFF;
    .page-main__scroll-news__content {
        padding: 20px 35px;
        direction: ltr;
    }
    .page-main__scroll-news__item {
        border-bottom: 2px solid #C4C4C4;
    }
    .page-main__scroll-news__block {
        margin-top: 20px;
    }
    .page-main__scroll-news-time {
        color: #828282;
    }
    .page-main__scroll-news-text {
        @extend .black-title;
    }
    .page-main__scroll-news-title {
        font-size: 2rem;
        color: $header_color;
    }
}

.main__tab {
    display: flex;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 40px;
    .main__tablinks {
        border: none;
        border-bottom: 2px solid #C4C4C4;
        box-sizing: border-box;
        float: left;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        background: inherit;
        color: #000000;
    }
    .main__tablinks:first-child {
        padding-left: 0px;
    }
    .main__tablinks:hover {
        background: inherit;
        color: $header_color;
    }
    .main__tablinks.current {
        background: inherit;
        font-family: $font_main;
        color: $header_color;
        font-weight: bold;
        border-bottom: 2px solid $header_color;
    }
    .main__tab__border {
        border-bottom: 2px solid #C4C4C4;
        width: 1px;
        flex-grow: 2;
    }
}

.page-main__news {
    width: 60%;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #E7E7E7;
}

 ::-webkit-scrollbar-thumb {
    background: #C4C4C4;
}

.theme__container__block {
    margin-top: 20px;
}

.header-search-drop_down {
    display: none;
    .header-search-content {
        padding: 40px;
        background: #F2F2F2;
        position: absolute;
        right: 15px;
        top: 60px;
    }
    input[name="header__search-block__keyword"] {
        background: transparent;
        float: left;
        border: 1px solid $header_color;
        line-height: 40px;
        box-sizing: border-box;
        padding-left: 10px;
        &::placeholder {
            font-family: $font_header;
            font-style: normal;
            font-weight: normal;
            color: rgba(45, 156, 219, 0.5);
            font-size: 0.7rem;
        }
    }
    #header__search-block__submit {
        background: $header_color;
        color: white;
        height: 44px;
        box-sizing: border-box;
        border: none;
    }
    &.active {
        display: block;
    }
}

.valute__icon {
    display: block;
    width: 19px;
    height: 20px;
    float: left;
}

#eur,
#usd {
    padding-left: 5px;
    font-family: $font_main;
    color: $font_color_footer;
    font-size: 0.875rem;
}

.valute__icon__eur {
    background: url(../img/eur.png) no-repeat;
    background-size: contain;
}

.valute__icon__usd {
    background: url(../img/usd.png) no-repeat;
    background-size: contain;
}

.header__info__block {
    display: table;
}

.header__info__row {
    display: table-row;
}

.header__info__row div {
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
}

.header__menu__feedback-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__breadcrumbs {
    font-size: 0.7rem;
    margin-top: 40px;
}

.main__breadcrumbs__item {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    &:not(:last-child) {
        float: left;
        &::after {
            content: '';
            display: block;
            float: right;
            margin-top: 3px;
            margin-left: 5px;
            margin-right: 5px;
            width: 7px;
            height: 7px;
            background: url('../img/breadcrumbs_arrow.png') center center no-repeat;
            background-size: contain;
        }
    }
    &.current {
        font-weight: bold;
    }
}

.main_content {
    width: 100%;
    margin-top: 50px;
}

.main_advertising_img {
    width: 100%;
    height: auto;
}

.main_news_block {
    padding-bottom: 20px;
    .news_item_block {
        margin-bottom: 20px;
    }
    .main_news_date {
        font-family: $font_header;
        font-style: normal;
        font-weight: bold;
        color: $header_color;
        font-size: 1.5rem;
    }
    .news_item_theme {
        color: $header_color;
        font-family: $font_header;
        font-style: normal;
        font-weight: bold;
        font-size: 0.75rem;
        padding-left: 30px;
    }
    .main_news_item {
        display: flex;
        margin-top: 20px;
        border-bottom: 1px solid #C4C4C4;
        padding-bottom: 20px;
    }
    &:last-child .main_news_item:last-child {
        border: none;
        padding-bottom: 140px;
    }
    .news_item_img {
        width: 27%;
        height: 180px;
        background: url('../img/news1.png') center center no-repeat;
        background-size: contain;
    }
    .news_item_description {
        width: 73%;
        padding-left: 20px;
    }
    .news_item_description_not_image {
        width: 100%;
    }
    .news_item_time {
        font-family: $font_header;
        color: #AEAEAE;
        font-size: 0.8rem;
    }
    .news_item_title {
        font-family: $font_header;
        font-weight: bold;
        color: #000000;
        font-size: 1.125rem;
        display: block;
    }
    .news_item_text {
        font-family: $font_header;
        color: #4F4F4F;
        font-size: 1.125rem;
        display: block;
    }
}

.news_item_icons {
    display: flex;
    justify-content: space-between;
    .item_info_watch::after {
        background: url('../img/watch.png') center center no-repeat;
        background-size: contain;
    }
    .news_item_share a {
        width: 16px;
        height: 16px;
        display: block;
        margin: 0 7px;
        transition: 0.2s ease;
        background-size: contain;
        &.fb {
            background: url(../img/facebookblack.png) no-repeat center;
            transition: 0.2s ease;
            background-size: contain;
        }
        &.vk {
            background: url(../img/vkblack.png) no-repeat center;
            transition: 0.2s ease;
            background-size: contain;
        }
        &.ok {
            background: url(../img/okblack.png) no-repeat center;
            transition: 0.2s ease;
            background-size: contain;
        }
        &.more {
            background: url(../img/moreblack.png) no-repeat center;
            transition: 0.2s ease;
            background-size: contain;
        }
        &.fb:hover,
        &.vk:hover,
        &.ok:hover {
            width: 16px;
            height: 16px;
            display: block;
            margin: 0 7px;
        }
        &.more:hover {
            background: url(../img/morehover.png);
            transform: rotate(90deg);
        }
        &.fb:hover {
            background: url(../img/facebookblue.png) no-repeat center;
            background-size: contain;
        }
        &.vk:hover {
            background: url(../img/vkblue.png) no-repeat center;
            background-size: contain;
        }
        &.ok:hover {
            background: url(../img/okblue.png) no-repeat center;
            background-size: contain;
        }
    }
}

.news_item_info a,
.news_item_share a {
    font-family: $font_header;
    color: #4F4F4F;
    font-size: 0.75rem;
    display: block;
    float: left;
    margin-right: 10px;
    &::after {
        content: '';
        display: block;
        float: left;
        margin-right: 5px;
        margin-top: 2px;
        width: 12px;
        height: 10px;
    }
}

.item_info_comment::after {
    background: url('../img/comment.png') center center no-repeat;
    background-size: contain;
}

.detail_news {
    margin-top: 40px;
    margin-bottom: 120px;
    .detail_news_content {
        width: 65%;
    }
    .detail_news_title_info {
        display: flex;
        justify-content: space-between;
        .detail_news_date {
            font-family: $font_main;
            font-size: 0.75rem;
        }
        .detail_news_time {
            font-family: $font_main;
            font-size: 0.75rem;
            font-weight: bold;
        }
        .detail_news_print {
            @extend .detail_news_date;
            &::before {
                content: '';
                display: block;
                float: right;
                margin-left: 10px;
                margin-top: 2px;
                width: 20px;
                height: 20px;
                background: url('../img/save.png') center center no-repeat;
                background-size: contain;
            }
        }
    }
    .detail_item_block {
        margin-bottom: 20px;
    }
    .news_item_title {
        font-family: $font_main;
        font-size: 1.75rem;
        font-weight: bold;
        color: #000;
    }
    .news_item_text {
        margin-bottom: 20px;
    }
    .news_item_footer {
        display: flex;
        justify-content: space-between;
        .item_footer_source {
            font-family: $font_main;
            font-size: 0.75rem;
            color: #5F5F5F;
        }
    }
    .detail_advertising_block {
        width: 35%;
        .detail_advertising_img {
            @extend .main_advertising_img;
        }
    }
}

.detail_item_img {
    width: 100%;
    height: 400px;
    background: url(../../img/also.png) center center no-repeat;
    background-size: cover;
}

.social_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .comment_block {
        width: 100%;
        border-top: 4px solid $header_color;
        padding-top: 14px;
        margin-bottom: 20px;
        .comment_title {
            font-family: $font_main;
            font-size: 1.5rem;
            font-weight: bold;
            display: block;
            margin-bottom: 20px;
        }
        input[type="text"] {
            display: block;
            background: transparent;
            border: 1px solid #828282;
            line-height: 40px;
            box-sizing: border-box;
            padding-left: 10px;
            margin-bottom: 20px;
            &::placeholder {
                font-family: $font_main;
                font-style: normal;
                font-weight: normal;
                color: #C4C4C4;
                font-size: 1.125rem;
            }
        }
        textarea {
            background: transparent;
            width: 100%;
            margin-bottom: 20px;
            border: 1px solid #828282;
        }
    }
    .subscription_block {
        background: white;
        padding: 40px;
        margin-bottom: 20px;
        .subscription_block_title {
            @extend .main-feedback__fb-text;
            display: block;
            margin-bottom: 30px;
        }
        input[type="text"] {
            display: block;
            float: left;
            background: transparent;
            border: 1px solid #828282;
            line-height: 56px;
            box-sizing: border-box;
            padding-left: 10px;
            margin-bottom: 20px;
            width: 80%;
            &::placeholder {
                font-family: $font_main;
                font-style: normal;
                font-weight: normal;
                color: #C4C4C4;
                font-size: 1.125rem;
            }
        }
        button {
            border: none;
            padding: 0 0;
            display: block;
            float: left;
        }
        .clearfix::after {
            content: "";
            display: table;
            clear: both;
        }
    }
}

.comment_items {
    margin-top: 70px;
    margin-bottom: 70px;
}

.comment_item {
    margin-bottom: 35px;
    .comment_item_header {
        margin-bottom: 10px;
    }
    .comment_item_author {
        font-family: $font_main;
        font-weight: bold;
        color: #000000;
        font-size: 1.125rem;
    }
    .comment_item_date {
        padding-left: 45px;
        font-family: $font_main;
        font-weight: normal;
        color: #828282;
        font-size: 0.875rem;
    }
    .comment_item_text {
        font-family: $font_main;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        color: #000000;
    }
}

.submit_button_small {
    background: $header_color url('../img/subsroption_arrow.png') center center no-repeat;
    border: none;
    width: 60px;
    height: 60px;
}

.comment_items {
    margin-top: 70px;
    margin-bottom: 70px;
}

.comment_item {
    margin-bottom: 35px;
    .comment_item_header {
        margin-bottom: 10px;
    }
    .comment_item_author {
        font-family: $font_main;
        font-weight: bold;
        color: #000000;
        font-size: 1.125rem;
    }
    .comment_item_date {
        padding-left: 45px;
        font-family: $font_main;
        font-weight: normal;
        color: #828282;
        font-size: 0.875rem;
    }
    .comment_item_text {
        font-family: $font_main;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        color: #000000;
    }
}

.submit_button_small {
    background: $header_color url('../img/subsroption_arrow.png') center center no-repeat;
    border: none;
    width: 60px;
    height: 60px;
}

.advertising_full-width {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    .advertising_full-width_img {
        width: 100%;
        height: 100px;
        background: url('../img/advertisingtop.png') center center no-repeat;
        background-size: contain;
    }
}

.also_news_block {
    margin-top: 75px;
    margin-bottom: 75px;
}

.also_news_items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.also_news_item {
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 600px;
    flex-basis: 400px;
    background: #FFFFFF;
    margin-right: 10px;
    margin-bottom: 10px;
}

.also_news_img {
    width: 100%;
    height: 100%;
}

.also_news_description {
    padding: 25px;
}

.also_news_text {
    font-family: $font_main;
    font-size: 1.125rem;
}

.also_news_title {
    font-family: $font_main;
    font-weight: bold;
    color: $header_color;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

//----------------------------------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------------------------------
//footer
.footer {
    padding: 65px 0;
    background: $footer_color;
    color: $font_color_footer;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer__top__logo {
    display: block;
    min-width: 180px;
    height: 62px;
    margin-bottom: 20px;
    background: $news_logo center left no-repeat;
    background-size: contain;
}

.footer__menu__list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 35px;
    font-size: 1.125rem;
}

.footer__menu__list:first-child a {
    font-size: 0.875rem;
}

.footer__menu__item:not(:first-child) {
    margin-left: 40px;
}

.footer__small-text {
    font-size: 0.875rem;
    color: inherit;
    display: block;
    margin-bottom: 40px;
}

.footer__bottom__logo {
    margin-left: 20px;
    float: right;
}

.footer__link {
    transition: 0.3s ease;
    color: $font_color_footer;
}

.footer__link:hover {
    color: $font_color_footer;
    text-decoration: underline;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.125rem;
    font-family: $font_header;
}

.footer__bottom__logo__image {
    background: $logo_asap center center no-repeat;
    width: 41px;
    height: 50px;
    display: block;
    float: right;
}

.footer__container__mobile {
    display: flex;
    flex-direction: column;
    .footer__menu__item {
        margin-left: 0px;
        margin-bottom: 25px;
    }
    .footer__menu__item:first-child {
        margin-top: 25px;
    }
    .footer__nav {
        display: flex;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    .footer__nav ul {
        width: 50%;
    }
    .footer__small-text {
        margin-bottom: 20px;
    }
}

//----------------------------------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------------------------------
//media
//скрытие десктопных элементов на мобильной версии
@media screen and (max-width: 860px) {
    .header__logo,
    .header__info__block,
    .header__navigation,
    .page-footer__container,
    .header__menu__sign-in,
    .main__tab,
    .page-main__scroll-news,
    .header__feedback__icons,
    .main_advertising,
    .header__link.line_button {
        visibility: hidden;
        display: none;
    }
    .header__advertising img {
        height: auto !important;
    }
    .page-main__news {
        width: 100%;
    }
}

@media screen and (max-width: 990px) {
    .detail_advertising_block {
        visibility: hidden;
        display: none;
    }
}

//скрытие элементов мобильной версии на десктопе
@media screen and (min-width: 861px) {
    .header__logo__mobile,
    .burger,
    .footer__container__mobile.container {
        visibility: hidden;
        display: none;
    }
}

//чтобы реклама переместилась вниз, так как мешает инфе в header
@media screen and (max-width: 1450px) {
    .header__container-top {
        flex-wrap: wrap;
    }
    .header__advertising {
        width: 100%;
    }
}